.nav-bar {
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #cc2062;
}

.nav-bar-element {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
}

.logo {
  height: 90px;
  margin-right: 70vw;
}